{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static 'icons/favicon.ico' %}" />
  <meta name="theme-color" content="#000000" />
  <meta name="description" content="Web site created by venkat" />
  <title>Location Analytics Map Chart</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css"/>
  <link rel="stylesheet" href="{% static 'analytics/css/main_index.css' %}">
  <link rel="stylesheet" href="{% static 'analytics/css/header.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
</head>
<body>
  {% include 'analytics/navbar.html' %}
  <div id="main_content" class="container">
    <div id="main_cd" class="row">
      <div class="Heading">
        <h5>Users By Country</h5>
      </div>
      <div class="col-md-8 mt-1">
        <div id="map"></div>
      </div>
      <div id="nvs-card-main" class="col-md-4 mt-1">
        <div class="nvs-card">
          <canvas style="width: 40%;" width="100px" id="locationChart"></canvas>
        </div>
      </div>
    </div>
    <div id="main_cd" class="row">
      <div class="Heading">
        <h5>Device Types</h5>
      </div>
      <div class="col-md-6 mt-1">
        <div class="nvs-card">
          <canvas style="width: 40%;" width="100px" id="deviceTypeChart"></canvas>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'analytics/js/main_index.js' %}"></script>
</body>
</html>
