<div class="container real_time">
    <h5 class="r_t_head"><b>REAL TIME</b></h5>
    <div class="col">
        <div class="row">
            <div class="col real_time_up_dt">
                
                <div class="r_t_head">Active Users</div>
                <div class="real_time_num">
                    <span id="real_time_num_dig">0</span>
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col real_time_up_dt">
                <div class="r_t_head">Last 30Hr</div>
                <div class="real_time_num">
                    <span>0</span>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="r_t_head_cn"><span>Users By Country</span><span>count</span></div>
                <hr class="my-1 p-0">
                <ul id="user_part_cont" class="list-group list-group-flush">
                    <li class="list-group-item"><span>India</span><span>2</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>