{% load static %}
<div id="controls">
    <div class="control-container" id="screenshareButton">
        <img id="screenshareButton_img" src="{% static 'video_mesh/icons/screen_share.png' %}" />
    </div>
    <div class="control-container" id="switchCamButton">
        <img id="switchCamButton_img" src="{% static 'video_mesh/icons/switch-cam.png' %}" />
    </div>
    <div class="control-container" id="camera-btn">
        <img src="{% static 'video_mesh/icons/camera.png' %}" />
    </div>
    
    <div class="control-container" id="mic-btn">
        <img src="{% static 'video_mesh/icons/mic.png' %}" />
    </div>

    <a href="#">
        <div class="control-container" id="leave-btn">
            <img src="{% static 'video_mesh/icons/phone.png' %}" />
        </div>
    </a>
</div>