<!DOCTYPE html>
<html>

<head>
    <title>Opencv.js tutorial</title>
</head>
<script async src="https://docs.opencv.org/3.4/opencv.js"></script>
<!--script async src="./opencv.js"></script-->

<body onload="setSize()">
    <button id="toggleStream" onclick="toggleStream()">Play</button>
    <button id="cvtGray" onclick="cvtGray()" style="visibility: hidden;">Convert to Gray</button>
    <br>
    <br>
    <video id="video"></video>
    <br>
    <canvas id='output'></canvas>
</body>
<script>
    let width, height;

    function setSize() {
        if (window.orientation == 0) {
            //portrait
            width = 480; height = 640;
        }
        else {
            //landscape
            width = 640; height = 480;
        }
    }

    const constraints = {
        video: { facingMode: "user", }, audio: false
    };
    const video = document.getElementById("video");
    const canvas = document.getElementById('output');
    canvas.width = width; canvas.height = height;

    function successCallback(stream) {
        video.width = width; video.height = height;//prevent Opencv.js error.
        video.srcObject = stream;
        video.play();
    }

    function errorCallback(error) {
        console.log(error);
    }

    let streaming = false;
    function toggleStream() {
        if (streaming === false) {
            navigator.getUserMedia(constraints, successCallback, errorCallback);
            document.getElementById('toggleStream').innerHTML = "Stop";
            document.getElementById('cvtGray').style.visibility = 'visible';
        }
        else {
            const stream = video.srcObject;
            const tracks = stream.getTracks();
            tracks.forEach(track => {
                track.stop();
            });
            document.getElementById('toggleStream').innerHTML = "Play";
            document.getElementById('cvtGray').style.visibility = 'hidden';
        }
        streaming = !streaming;
    }

    let src, dist, cap;
    function cvtGray() {
        src = new cv.Mat(height, width, cv.CV_8UC4);
        dst = new cv.Mat(height, width, cv.CV_8UC1);
        cap = new cv.VideoCapture('video');
        setTimeout(process, 33);
    }

    function process() {
        if (streaming === true) {
            cap.read(src);
            cv.cvtColor(src, dst, cv.COLOR_RGBA2GRAY);
            cv.imshow('output', dst);
            setTimeout(process, 33);
        }
    }
</script>

</html>