{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>PeerChat</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'video_p2p/css/main.css' %}">
</head>
<body>
    <input id="callInput" />
    <button id="answerButton" >Answer</button>
    <div id="videos">
        <video class="video-player" id="user-1" autoplay playsinline></video>
        <video class="video-player" id="user-2" autoplay playsinline></video>
    </div>

    <div id="controls">

        <div class="control-container" id="camera-btn">
            <img src="{% static 'video_p2p/icons/camera.png' %}" />
        </div>

        <div class="control-container" id="mic-btn">
            <img src="{% static 'video_p2p/icons/mic.png' %}" />
        </div>

        <a href="lobby.html">
            <div class="control-container" id="leave-btn">
                <img src="{% static 'video_p2p/icons/phone.png' %}" />
            </div>
        </a>

    </div>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
    <script src="{% static 'video_p2p/js/call2.js' %}"></script>
</body>
</html>